<div class="header">
    <div class="title">
        <h1>Hello Full Cycle Rocks!</h1>
    </div>
    <ul class="people_list">
        {{#each pessoas}}
        <li>Nome: {{name}}</li>
        {{/each}}
    </ul>
</div>